page-login {
  ion-content {
    background: url(/assets/imagens/fundo.jpg);
    background-size: cover;
  }

  .scroll-content {
    background-color: rgba(189, 8, 28, 0.7) !important;
  }

  .logo {
    width: 100%;
    text-align: center;
    margin-top: 20%;
  }
  .logo img {
    width: 120px;
  }

.logo span {
    color: white;
    font-size: 1.6rem;
    text-align: center;
    display: block;
    font-weight: bold;
    font-style: italic;
}

  .item {
    background: transparent !important;
  }
  .list .item-input:last-child {
    border-bottom: none !important;
  }
}
